@import "./variable";
@import "./mixins";

.main-right-container {
  margin-top: 4.75rem;
  margin-left: 14rem;
  padding: $fs-5 $padding;
  z-index: 1;

  .dash_header {
    @include flex-between-center;
    padding: 0 $spacing;

    .dash_title {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: $fs-8;
      margin: $spacing 0;
      h2 {
        font-size: $fs-13;
        font-weight: $fw-500;
      }
      nav {
        .breadcrumb {
          .breadcrumb-item{
            display: flex;
            align-items: center;
            gap: 3px;
          }
          .breadcrumb-item a {
            @include flex;
            gap: 6px;
            font-size: $fs-8;
            color: rgba($color: $secondary, $alpha: 1);
            font-weight: calc($fw-normal + 50);
            text-decoration: none;
          }
          .active {
            color: rgba($color: $secondary, $alpha: 0.8);
          }
        }
      }
    }
  }

  .graph-card{
    gap: 2rem;
  }

  .graph-placeholder {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    height: 200px;
    width: 100%;
    background: #f4f4f4;
    padding: 20px;
}
.bar {
    width: 40px;
    background: #16D39A;
}


  .filter-div {
    @include flex-between-center;
    margin-bottom: $margin;
  }

  .dash_icon {
    width: calc($margin + $spacing);
    height: calc($margin + $spacing);

    @include flex-center;
    border-radius: $fs-5;
  }
  .dash-body {
    span {
      font-size: $fs-8;
      font-weight: $fw-500;
    }
    h3 {
      font-size: $fs-13;
      font-weight: $fw-600;
    }
  }

  .top-heading {
    h3 {
      font-size: calc($lg-spacing - $fs-7);
      font-weight: $fw-500;
    }
  }
  &.active {
    // margin-left: 14rem;
    margin-left: calc($lg-spacing * 7);
  }
}

@media (max-width: $md) {
  .main-right-container {
    margin-left: 0;
    max-width: 100%;
    padding: 0 0;

    .filter-div {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// @media (min-width: $md) and (max-width: $lg) {
//   .main-right-container {
//     margin-left: 0;
//     max-width: 100%;
//     padding: 0 0;
//     &.active {
//       margin-left: 14rem;
//       width: calc(100% - 14rems);
//     }
//   }
// }
